.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.width-1-2 {
  width: 48%;
}

.width-1-1 {
  width: 100%;
}

.mr-m {
  margin-right: 4% !important;
}

.mr-s {
  margin-right: 2% !important;
}

.mr-xs {
  margin-right: 1% !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: 4rem;
}
